.navbarStyle {
    position: sticky;
    height: max-content;
    background-color: #484848;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    box-shadow: 1rem 0.5rem 10px 4px #00000033;

    ul{
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        list-style-type: none;
        text-align: center;
        li{
            padding: 0.5rem;
            margin: 0 0.5rem;
            border-radius: 5px;
            &:hover{
                cursor: pointer;
                background-color: #f17400;
            }
            a{
                text-decoration: none;
                font-size: 1.5rem;
            }
        }
    }
}